name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8 # ajuste para a versão desejada (ou remova para usar a versão default)
      
      - name: Instalar dependências
        run: pnpm install
      
      - name: Rodar testes
        run: pnpm test
